/*タイマー*/

<style type="text/css">
#CDT{
 font-size: 26px;
}
#CDT .day{
 font-size: 48px;
}
#CDT .hour,#CDT .min,#CDT .sec{
 font-size: 32px;
}
</style>

/*ボタン*/
.button {
    position: relative;
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    background: transparent;
    border: none;
    line-height: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 17px;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: auto;
    text-decoration: none;
    padding: 4px 10px;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: 0;
    color: #fff;
    vertical-align: middle;
    background-color: rgba(24, 103, 194, 0.81);
    border: 0px solid currentColor;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
 
.button:hover {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
 
.button:active {
    background-color: rgba(24, 103, 194, 0.81);
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    opacity: 0.2;
}
 
.button:focus {
    outline: 0;
}
 
.button:disabled,
.button[disabled] {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
}
 
.button--outline {
    background-color: transparent;
    border: 1px solid rgba(24, 103, 194, 0.81);
    color: rgba(24, 103, 194, 0.81);
}
 
.button--outline:active {
    background-color: rgba(24, 103, 194, 0.2);
    border: 1px solid rgba(24, 103, 194, 0.81);
    color: rgba(24, 103, 194, 0.81);
    opacity: 1;
}
 
.button--outline:hover {
    border: 1px solid rgba(24, 103, 194, 0.81);
    -webkit-transition: 0;
    -moz-transition: 0;
    -o-transition: 0;
    transition: 0;
}
 
@import url(http://fonts.googleapis.com/css?family=Oswald);
div {
    text-align: center;
    font: bold 21px 'Oswald', sans-serif;
    text-transform: uppercase;
}
 
body {
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-size: 3px 3px;
}